<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.address %></h2>
  <p><%= @restaurant.category %></p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %></li>
    <% end %>
  </ul>

  <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "See all restaurants", restaurants_path %>
</div>


